/* You can add global styles to this file, and also import other style files */
 
body {
    font-family: "Verdana", Geneva, sans-serif; 
    color: #737373;
}
table, td {
    /*border: 1px solid green; */
    /*border: 1px solid #0080ff;*/
    border: 1px solid #3399ff;
    align-content: center;
    text-align: center;    
    background-color: #e6f2ff;
}

.show {
	opacity: 1 !important;
}

.hide {
	opacity: 0 !important;
}

.fadeout {
	margin: 0 auto;
	text-align: center;
	opacity: 0;
	transition: 1s ease-in-out all;
}

.fadein {
	opacity: 1;
	transition: 2s ease-in-out all;
	transition-delay: 1s;
}

.btn{
	margin: 0 auto;
	text-align: center;
	opacity: 1 !important;
}

table {
	margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
td {
    height:30px;
    width: 30px;
    /*background-color: darkseagreen;*/
    background-color: #b3d9ff;
    font-size: 80%;
}
.fa-internet-explorer{
    color: blue;
}
.fa-chrome{
    color:orangered;
    /*opacity: 0.9;*/
}

.coord{
    color: blue;
    background-color: #e6f2ff;
    border:none;
    text-align: center;
}

.container {
	width: 400px;
	height: 600px;
	border-color: #bfbfbf;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 25px;
}

.gametext{
	margin: 0 auto;
	width: 350px;
    /*background-color: gainsboro; 
    border-style: groove;
    border-color: #bfbfbf;
    border-radius: 9px;*/
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}



.player{
	margin: 0 auto;
	width: 250px;
   /* background-color: gainsboro; 
    border-style: groove;
    border-color: #bfbfbf;
    border-radius: 9px;*/
    padding: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
}

body {
    background-color: ghostwhite;
    /*background-color: whitesmoke;*/
}

h1{
	width: 335px;
	text-align: center;
	padding: 25px;	
    color: dimgrey;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
}

th {
    color: blue;
    background-color: #e6f2ff;
    border:none;
    text-align: center;
    font-size: 80%;
    font-weight: 200;
}

button {
	margin: 0 auto;
    background-color: white;
    border: 2px solid #66b3ff;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #99ccff;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


